<!DOCTYPE html>
<html>
  <head>
    <title>Cat Fact!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cat Fact!</h1>

    <h1><%= fact %></h1>
    <a href="/cats">more facts?</a>
  </body>
</html>
